.container{
    display: block;
    width: 100%;
    max-width: 1600px;
    padding: 0 10px;
    margin: 0 auto;
    position: relative;
    margin-top: 30px;
}
.title{
    font-size: calc(20px + (35 - 20) * ((100vw - 375px)/ (1920 - 375)));
    line-height: 1.2;
    padding-bottom: calc(5px + (20 - 5) * ((100vw - 375px)/ (1920 - 375)));
    border-bottom: solid 1px #ddd;
    color: #383838;
}
.cartHead{
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: calc(15px + (30 - 15) * ((100vw - 375px)/ (1920 - 375)));
    display: flex;
    padding:calc(15px + (26 - 15) * ((100vw - 375px)/ (1920 - 375))) 0 calc(10px + (19 - 10) * ((100vw - 375px)/ (1920 - 375)));
    background-color: #ddd;
}
.cartHead span:first-child{
    flex: 1;
    margin-left: calc(10px + (24 - 10) * ((100vw - 375px)/ (1920 - 375)));
}
.cartHead span:nth-child(2){
    margin-right: 150px;
}
.cartHead span:not(:first-child){
    flex-basis: calc(50px + (265 - 50) * ((100vw - 375px)/ (1920 - 375)));
    text-align: center;
}
.imgContainer{
    height: 200px;
    width: 200px;
    position: relative;
    background-color: #f8f8f8;
    border: solid 1px #ddd;
    left: 0;
}
.cartProducct{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 30px;
}
.infProduct{
    margin-left: 150px;
    
}
.cartProducct span:first-child{
    flex: 1;
}
.cartProducct span:nth-child(2){
    margin-right: 150px;
}
.cartProducct span:not(:first-child){
    flex-basis: calc(50px + (265 - 50) * ((100vw - 375px)/ (1920 - 375)));
}
.buttonQuantity{
    display: flex;
    align-items: center;
    justify-content: center;
}
.counterCart{
    background-color: antiquewhite;
    display: flex;
    width: 50px;
    height: 30px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
.minus{
    display: flex;
    width: 50px;
    height: 30px;
    margin-right: 1px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.plus{
    display: flex;
    width: 50px;
    height: 30px;
    margin-left: 1px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.cartFooter{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-bottom: 20px;
}
.buttonPayment {
    color: rgb(53, 52, 53);
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    padding-top: 25px;
    background-color: #ddd;
    height: 80px;
    width: 300px;
    border-radius: 20px;
}
.buttonPayment:hover{
    background-color:aqua;
    cursor: pointer;
    transition: all 2s;
}
.totalCart{
    display: block;
    text-align: center;
    width: 200px;
    height: 80px;
    font-size: 20px;
    font-weight: lighter;
}
.totalCart div:first-child{
    height: 50%;
    width: 100%;
    color: rgb(92, 87, 87);
}
.totalCart div:last-child{
    height: 50%;
    width: 100%;
    color: black;
}