.container{
    height: 100px;
    position: sticky;
    z-index: 999;
    top: 0;
}
.containerFront{
    background-color:white;
    height: 40px;
    display: flex;
    width: 100vw;
    column-count: 3;
}
.phone{
    color: black;
    margin-top: 10px;
    margin-left: calc((100vw - 1201px) * 0.3 + 100px);
    width: 40px;
    cursor: pointer;
}
.containerUnder{
    width: 100vw;
    display:flex;
    height: 60px;
    background-color:#00ffff;
    columns: 3;
}
.buttonMenu{
    display: none;
}
.menuBar{
    display: none;
}
.textButtonPhone{
    color: rgb(0, 0, 0);
    margin-top: 10px;
    margin-left: 10px;
}
.textButtonPhone:hover {
    color: #2ad8d8; 
}
.logoNavbarContainer{
    width: 100px;
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
    align-items: center;
}
/* -------------------------iconNavbar------------------------------ */
.frontLeft{
    width:calc(50vw - 50px);
}
.frontRight{
    width: calc(50vw - 50px);
    display: flex;
    justify-content: flex-end;
}
.search, .shoppingCart, .heart,.person{
    width: 25px;
    height: 100%;
    margin-top: 0;
}
.search{
    cursor: pointer;
    color: black;
}
.shoppingCart{
    margin-left: 20Px;
    cursor: pointer;
    color: black;
}
.counterCart{
    position:relative;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    right: 10px;
    top: 0px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-weight:500;
    font-size: 13px;
    color: white;
    cursor: pointer;
}
.person{
    cursor: pointer;
    margin-left: 20px;
    margin-right: calc((100vw - 1201px) * 0.3 + 100px);
    color: black;
}
.heart{
    cursor: pointer;
    margin-left: 10px;
    color: black;
}
/* -----------------------text container under--------------------- */
.buttonMenuClose{
    display: none;
}
.buttonTextLeft{
    justify-content: start;
    width: calc(50vw - 50px);
    height: 100%;
    display: flex;
}
.text1 {
    font-weight: 500;
    width: auto;
    height: 100%;
}
.buttonTextLeft .text1:first-child{
    margin-left: calc((100vw - 1201px) * 0.3 + 100px);
}
.buttonTextLeft .text1:not(:first-child){
    margin-left: calc((50vw - ((100vw - 1201px) * 0.3 + 385px))/4);
}
.buttonTextLeft .text1:last-child{
    margin-right: 20px;
}
.space{
    width: 100px;
    height: 100%;
}
.buttonTextRight{
    justify-content: flex-end;
    width: calc(50vw - 50px);
    height: 100%;
    display: flex;
}
.buttonTextRight .text1:First-child{
    margin-left: 20px;
}
.buttonTextRight .text1:not(:last-child){
    margin-right:calc((50vw - ((100vw - 1201px) * 0.3 + 367px))/4);
}
.buttonTextRight .text1:last-child{
    float: right;
    margin-right: calc((100vw - 1201px) * 0.3 + 100px);
}
.text1:hover{
    color:red;
}
.buttonUnderNavbar{
    margin-top: 0px;
}
@media screen and (max-width :1200px) {
    .phone{
    }
}
/* @media screen and (max-width :992px) {} */
@media screen and (max-width :768px) {
    .phone{
        width: 40px;
        margin-left: 5px;
    }
    .frontRight{
        justify-content: flex-end;
    }
    .search, .shoppingCart, .heart,.person{
        width: 30px;
        height: 30px;
        margin-top: 5px;
    }
    .counterCart{
        width: 18px;
        height: 18px;
        top: 1px;
    }
    .heart{
        margin-left: 10px;
    }
    .person{
        margin-right: 15px;
    }
    .buttonTextLeft{
        display: flex;
        margin-left: 0px;
    }
    .text1{
        font-size: 15px;
        margin-left: 15px;
        margin-top: 15px;
    }
    .buttonTextLeft .text1:first-child{
        margin-left: 10px;
    }
    .buttonTextLeft .text1:last-child {
        margin-right: 50px;
    }
    .buttonTextRight .text1:first-child{
        margin-left: 50px;
    }
    .buttonTextRight .text1:last-child {
        margin-right: 10px;
    }
    .buttonTextRight{
        display: flex;
        margin-left: 0px;
    }
}
@media screen and (max-width :480px) {
    .container{
        display: block;
        width: 100%;
        height: 80px;
    }
    .phone{
        margin-left: 0px;
    }
    .textButtonPhone{
        position:absolute;
        margin-top: 0px;
        margin-left: 0px;
        font-size: small;
        text-align: center;
        width: 50px;
        height: 40px;
    }
    .search{
        margin-right: 0px;
        width: 20px;
        margin-left: calc(50vw - 160px);
        margin-top: 1px;
    }
    .shoppingCart{
        width: 20px;
        margin-left: 4px;
    }
    .counterCart{
        width: 10px;
        height: 10px;
        top: 8px;
        font-size: 8px;
        cursor: pointer;
        margin-left: -4px;
    }
    .person{
        width: 20px;
        margin-left: 4px;
        margin-right: 0px;
    }
    .heart{
        width: 20px;
        margin-left: 4px;
        margin-right: 0px;
    }
    .containerUnder{
        display:flex;
        height: 40px;
        width: 100%;
    }
    .buttonTextLeft{
        display: none;
    }
    .buttonTextRight{
        display: none;
    }
    .buttonMenu{
        display: flex;
        margin: 10px;
        width: 20px;
        height: 20px;
    }
    .buttonMenuClose{
        display: none;
        position: absolute;
        margin: 10px;
        width: 20px;
        height: 20px;
    }
    .containerUnder .hiden{
        background-color: none;
        width: 40px;
        height: 40px;
        transition: width 0.5s , height 0.5s;
        transition-delay: 0s, 0.75s;
    }
    .containerUnder .hiden .buttonMenu{
        display: flex;
    }
    .containerUnder .active {
        display: flex;
        background-color: white;
        width: 100px;
        height: 170px;
        transition: height 0.5s , width 0.5s;
        transition-delay: 0s, 0.75s;
        border-bottom:solid 2px #ddd ;
        border-right: solid 2px #ddd;
    }
    .containerUnder .active .buttonMenuClose{
        display: flex;
    }
    .containerUnder .active .buttonMenu{
        display: none;
    }
    .containerUnder .hiden .menuBar{
        display: block;
        transform: translateX(-100px);
        list-style: none;
        margin-top: 40px;
    }
    .containerUnder .active .menuBar{
        display: block;
        transition-delay: 1s;
        list-style: none;
        margin-top: 45px;
    }
    .containerUnder .active .menuBar .text1{
        margin-left: 5px;
    }
    .containerUnder .active .menuBar li{
        border-bottom: solid 2px #ddd;
        margin-bottom: 10px;
        margin-left: 11px;
        width: 100%;
    }
    .containerUnder .active .menuBar li:nth-child(4){
        border-bottom: none;
    }
}