.container{
    height: 100px;
    position: sticky;
    z-index: 999;
    top: 0;
}
.containerFront{
    background-color:white;
    height: 40px;
    display: flex;
    width: 100vw;
    column-count: 3;
}
.containerUnder{
    display:flex;
    height: 60px;
    background-color:aqua;
}
.buttonMenu{
    display: none;
}
.menuBar{
    display: none;
}
.textButtonPhone{
    color: rgb(0, 0, 0);
    margin-top: 10px;
    margin-left: 10px;
}
.textButtonPhone:hover {
    color: #2ad8d8; 
}
.logoNavbarContainer{
    width: 100px;
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
    align-items: center;
}
/* -------------------------iconNavbar------------------------------ */
.phone{
    color: black;
    margin-top: 10px;
    margin-left: 300px;
}
.frontLeft{
    width:calc(50vw - 50px);
}
.frontRight{
    width: calc(50vw - 50px);
    display: flex;
    justify-content: center;
}
.search{
    margin-top: 10px;
    color: black;
}
.shoppingCart{
    margin-left: 20Px;
    margin-top: 6px;
    cursor: pointer;
}
.counterCart{
    position:relative;
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    right: 5px;
    top: 1px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-weight:500;
    font-size: 13px;
    color: white;
    cursor: pointer;
}
.person{
    margin-left: 20px;
    margin-top: 6px;
    margin-right: 25px;
}
.heart{
    margin-left: 20px;
    margin-top: 6px;
}
/* -----------------------text container under--------------------- */
.buttonMenuClose{
    display: none;
}
.buttonTextLeft{
    margin-top: 20px;
    margin-left: 260px;
}
.buttonTextRight{
    margin-top: 20px;
    margin-left: 400PX;
}
.text1{
    margin-left: 40px;
    font-weight: 500;

}
.text1:hover{
    color:red;
}
.buttonUnderNavbar{
    margin-top: 0px;
}
@media screen and (max-width :480px) {
    .container{
        display: block;
        z-index: 999;
        top: 0;
        position: sticky;
        width: 100%;
        height: 80px;
    }
    .containerFront{
        background-color:white;
        height: 40px;
        display: flex;
        width: 100vw;
        column-count: 3;
    }
    .logoNavbarContainer{
        width: 100px;
        text-align: center;
        margin-left: 0px;
        margin-right: 0px;
        align-items: center;
    }
    .frontLeft{
        width:calc(50vw - 50px);
    }
    .phone{
        color: black;
        margin-left: 0px;
        width:40px;
    }
    .textButtonPhone{
        color: rgb(0, 0, 0);
        position:absolute;
        margin-top: 0px;
        margin-left: 0px;
        font-size: small;
        text-align: center;
        width: 50px;
        height: 40px;
    }
    .frontRight{
        width: calc(50vw - 50px);
        display: flex;
    }
    .search{
        color: black;
        margin-right: 0px;
        width: 20px;
        margin-left: calc(50vw - 160px);
        margin-top: 6px;
    }
    .shoppingCart{
        cursor: pointer;
        width: 20px;
        margin-left: 4px;
        color: black;
    }
    .counterCart{
        position:relative;
        width: 10px;
        height: 10px;
        background-color: red;
        border-radius: 50%;
        right: 5px;
        top: 8px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        font-weight:500;
        font-size: 8px;
        color: white;
        cursor: pointer;
        margin-left: -4px;
    }
    .person{
        cursor: pointer;
        width: 20px;
        margin-left: 4px;
        color: black;
        margin-right: 0px;
    }
    .heart{
        cursor: pointer;
        width: 20px;
        margin-left: 4px;
        margin-right: 0px;
        color: black;
    }
    .containerUnder{
        display:flex;
        height: 40px;
        width: 100%;
    }
    .buttonTextLeft{
        display: none;
    }
    .buttonTextRight{
        display: none;
    }
    .buttonMenu{
        display: flex;
        margin: 10px;
        width: 20px;
        height: 20px;
    }
    .buttonMenuClose{
        display: none;
        position: absolute;
        margin: 10px;
        width: 20px;
        height: 20px;
    }
    .containerUnder .hiden{
        background-color: none;
        width: 40px;
        height: 40px;
        transition: width 0.5s , height 0.5s;
        transition-delay: 0s, 0.75s;
    }
    .containerUnder .hiden .buttonMenu{
        display: flex;
    }
    .containerUnder .active {
        display: flex;
        background-color: white;
        width: 100px;
        height: 170px;
        transition: height 0.5s , width 0.5s;
        transition-delay: 0s, 0.75s;
        border-bottom:solid 2px #ddd ;
        border-right: solid 2px #ddd;
    }
    .containerUnder .active .buttonMenuClose{
        display: flex;
    }
    .containerUnder .active .buttonMenu{
        display: none;
    }
    .containerUnder .hiden .menuBar{
        display: block;
        transform: translateX(-100px);
        list-style: none;
        margin-top: 40px;
    }
    .containerUnder .active .menuBar{
        display: block;
        transition-delay: 1s;
        list-style: none;
        margin-top: 45px;
    }
    .containerUnder .active .menuBar .text1{
        margin-left: 5px;
    }
    .containerUnder .active .menuBar li{
        border-bottom: solid 2px #ddd;
        margin-bottom: 10px;
        margin-left: 11px;
        width: 100%;
    }
    .containerUnder .active .menuBar li:nth-child(4){
        border-bottom: none;
    }
}